Cargo.lock
*.aux
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.log
**/.ipynb_checkpoints/
*.out
*.synctex.gz
*.iml
.idea/
.vscode/
.DS_Store
venv/
*.txt
*.pyc
target/
*.ipr
*.iws
*.iml
*.db
*/build/
sessions.db/
indices/
dataset*
*.csv
assets/example/
Serenade-*.tar.gz
